$dark-blue-primary: #101724;
$dark-blue-button: #1E2731;
$red: #CD5741;
$white: #FFFFFF;

body,
html {
	height: 100%;
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
	overflow: hidden;
}

.vertical-align {
	@media (min-width: 1200px) {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);  
	} 
}